.kaufman {
    position: relative;
    background-color: #1F1F1F ;
    padding-top: 90px;
    padding-bottom: 90px;
}

.kaufman__triangle {
    background-image: url('../images/triangle.svg');
    background-size: cover;
    width: 660px;
    height: 636px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;    
}
