.logo {
    width: 154px;;
    height: 31px;
    background-size: cover;
}

.logo__place_header {
    position: absolute;
    left: 64px;
    top: 30px;
    z-index: 5;
}

.logo__place_footer {
    display: flex;
    flex-direction: column;
}