.sub-title {
    width: 60%;
    margin: 20px auto 0 auto;
    text-align: center;
}

.sub-title__text {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    align-self: center;
}

.sub-title_dark_theme {
    color: white;
}

.sub-title__text_dark_theme {
    color: white;
    margin-bottom: 80px;
}